html {
  font-size: 62.5%; }

#contenedor {
  width: 100%; }

main {
  width: 90%;
  display: flex; }

body {
  background-color: white;
  font-size: 2rem; }

h1 {
  color: #291c1c;
  font-family: 'Montserrat Subrayada';
  text-align: center;
  letter-spacing: 0.4rem;
  font-size: 4rem; }

h3 {
  color: #291c1c;
  font-family: 'Montserrat Subrayada';
  text-align: center;
  font-size: 3rem; }

h4 {
  color: #291c1c;
  font-family: Quicksand;
  font-size: 2rem; }

p {
  color: #291c1c;
  font-family: Quicksand;
  font-size: 1.5rem; }

.logo {
  top: 10px;
  left: 90px;
  position: absolute; }

.navegador {
  background-color: white; }

.menu {
  list-style: none;
  text-align: right; }

.menu li {
  display: inline-block;
  position: relative; }

.menu li a {
  display: block;
  padding: 17px;
  color: #311313;
  font-family: Quicksand;
  font-size: 2rem;
  text-decoration: none; }

.menu:hover li a {
  color: #291c1c; }

.menu li a:hover {
  color: #737ddd;
  transform: scale(1.1); }

/*
.introd{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 3.5rem;
}
*/
.introd {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 3.5rem; }

.video {
  margin: 20px; }

.miFoto {
  margin: 30px; }

.sobreMi {
  display: flex;
  align-items: center;
  line-height: 3.5rem;
  background-color: white; }

.QuienSoy {
  background-color: white;
  margin: 30px;
  padding: 20px; }

.sobreMi {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 3.5rem;
  background-color: white; }

.QuienSoy {
  background-color: white;
  margin: 30px;
  padding: 20px; }

/*
.formulario{
  background-color: rgb(68, 87, 45);
  width: 500px; 
  height: 500px;
  position: absolute;
  left: 300px;
}
*/
.formulario {
  width: 30%;
  min-width: 300px;
  margin: auto;
  background: #c7b5b5;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 10px; }

.consulta {
  text-align: center;
  margin-bottom: 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 3px; }

textarea {
  min-height: 100px;
  max-height: 250px; }

.botones {
  background: #4e0c0c; }

a {
  text-decoration: none; }

.introduccion {
  background-color: white;
  margin: 30px;
  padding: 20px; }

.gridContenedor {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  justify-items: center; }

.contenedorImg {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; }

.contenedorImg:hover img {
  filter: blur(2px); }

.text {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.title, .paragraph {
  margin: 10px;
  padding: 5px; }

.title {
  position: relative;
  left: -100%;
  transition: all .3s; }

.contenedorImg:hover .title {
  left: 0;
  animation-delay: .3s;
  transition: all .3s; }

.paragraph {
  position: relative;
  right: 100%;
  transition: all .3s; }

.contenedorImg:hover .paragraph {
  right: 0;
  animation-delay: .3s;
  transition: all .3s; }

/*
.carousel-item{
    width: 100%;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
*/
footer {
  font-size: 1.4rem; }
